%h1 Listing sales_reps
%table.table.table-striped{:cellpadding => "8"}
  %thead
    %tr
      %th Name
      %th Title
      %th Phone Number
      %th Email
      %th Sex
      %th Has follow-ups?
      %th
      %th
      %th

  %tbody
        
    - @sales_reps.each do |sales_rep|
      %tr
        %td= sales_rep.name
        %td= sales_rep.title
        %td= sales_rep.phone_num
        %td= sales_rep.email
        %td= sales_rep.sex
        - if sales_rep.follow_ups.any?
          %td Yes
        - else
          %td No
        %td= link_to 'Show', sales_rep
        %td= link_to 'Edit', edit_sales_rep_path(sales_rep)
        %td= link_to 'Destroy', sales_rep, method: :delete, data: { confirm: 'Are you sure?' }
%br/
-# = link_to 'New Sales rep', 
-#           new_sales_rep_path, {class:"btn btn-primary btn-lg", 
-#                               "data-toggle" => "modal", :href => "#myModal"}
= render ('form_modal')
= link_to 'New Sales rep', 
          new_sales_rep_path, {class: "btn btn-primary btn-lg", 
                              "data-toggle" => "modal", :'data-remote'=>true,
                               }

                            

-# %a.btn.btn-primary.btn-lg{"data-toggle" => "modal", :href => "#myModal"} Add new Sales Rep

-# #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  -# .modal-dialog
  -#   = simple_form_for @sales_rep, remote: true, html: {"data-type" => :json} do |f|
  -#     .modal-content
  -#       .modal-header
  -#         %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  -#         %h4.modal-title New Sales Rep

  -#       .modal-body         
  -#         = render 'form_fields' , f: f   

  -#       .modal-footer
  -#         %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
  -#         / %button.btn.btn-primary{:action => "submit" , :type => "button"} Save changes
  -#         =f.button :submit, class: "btn-primary"

