

%h2 Sales Rep Information :
%br

%b First Name:
= @sales_rep.first_name

%br

%b Last Name:
= @sales_rep.last_name

%br

%b Title:
= @sales_rep.title

%br

%b Phone Number:
= @sales_rep.phone_num

%br

%b Email:
= @sales_rep.email

%br

%b Sex:
= @sales_rep.sex
%hr

-# .collapsible
-#   %h3 Heading
  

- if @sales_rep.follow_ups.empty?
  %h3 There are no follow-ups assigned.
- else
  %h3 FollowUps:
  %br
  %br
  %button.btn.btn-link.expandAll  Expand all 
  |
  %button.btn.btn-link.collapseAll Collapse all
  

  

  = simple_form_for @sales_rep do |f|
    - for follow_up in @sales_rep.follow_ups
      
      .row.collapsible.padding
        .col-lg-1
          .glyphicon.glyphicon-chevron-right
        .col-lg-2
          %h4 Type: 
          =h  "#{follow_up.type}"
        .col-lg-2
          %h4 Due Date: 
          =h "#{follow_up.due_date}"
        .col-lg-3
          %h4 Complete Date:
          =h "#{follow_up.complete_date}"
        .col-lg-4
          %h4 Client:
          =h "#{get_client_name(follow_up.meeting_id)}"
            

        %br
      = f.simple_fields_for :follow_ups, follow_up do |ff|

        = render 'meetings/followup_fields', :ff => ff
    %br
    = f.button :submit
    


= link_to 'Edit', edit_sales_rep_path(@sales_rep)
|
\#{link_to 'Back', sales_reps_path}

:javascript
    // $(document).ready(function (){ // Commented out because it cause the code to run twice
    // this happens beause of Turbolinks Gem for more details :
    // https://github.com/kossnocorp/jquery.turbolinks#troubleshooting

      var rmv_btn   = $('.rmvFields');
      collapsibles  = $('.collapsible');
      fieldsets     = $('fieldset');
      expandAll     = $('.expandAll');
      collapseAll   = $('.collapseAll');
      arrowsIcons   = $('.glyphicon').not('button')
      fieldsets.hide();

      collapsibles.on("click", function(){
        if ($(this).next().is(":visible")){
          $(this).find('.glyphicon').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
        }
        else
        {
          $(this).find('.glyphicon').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
        }

        $(this).next().slideToggle();
      });

      expandAll.on("click",function(){
        arrowsIcons.removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
        fieldsets.slideDown();
      });

      collapseAll.on("click",function(){
        arrowsIcons.removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
        fieldsets.slideUp();
      });

      
     