%p#notice= notice
= render 'new_client_modal'
= simple_form_for @meeting do |f|

  - if @meeting.errors.any?
    #error_explanation
      %h2
        = pluralize(@meeting.errors.count, "error")
        prohibited this meeting from being saved:
      %ul
        - @meeting.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-lg-9            
      .row
        .col-lg-4
          %label{for: "meeting_start_date"} Meeting Date
                  
          = f.input_field :start_date, class: 'form-control date-time-picker', placeholder: "Date/Time",
          :value => (f.object.start_date.to_s(:short) unless f.object.start_date.nil?)
        
        .col-lg-3
          = f.input :duration, :collection => (Meeting::DURATION),:input_html =>{ class: 'form-control'}
          
        .col-lg-5
          %label{for: "meeting_client_id"} Select a Client
          .input-group
            = f.input_field :client_id, collection:(Client.all),label: false, class: 'form-control' 
            %span.input-group-btn
              = link_to 'New', 
                    new_client_path, {class:"btn btn-primary btn-lg pull-right ", 
                                      :'data-remote'=>true }
            
                 
          

      .row
        .col-lg-12
          = f.input :memo, as: :text ,:input_html => { :rows => 5 , class: 'form-control'}
      %br    
      %hr    

      .row
        .col-lg-12
          %h3 Follow Ups:
          .followups_div
            
            %br
            = f.simple_fields_for :follow_ups do |ff|
              = render 'followup_fields', ff: ff

          %button#addFollowup.btn.btn-primary.glyphicon.glyphicon-plus-sign{type: "button", title: "Add Follow Ups!"}
          -if @followup_is_empty
            %button#edit_addBtn.btn.btn-primary.glyphicon.glyphicon-plus-sign{type: "button", title: "Add Follow Ups!"}

          %br
          %br
          %br 

    .col-lg-3
      .panel.panel-default        
        .panel-body
          .row        
            %h4 Assign Sales Reps:
            %br
            - for sr in SalesRep.all
              = check_box_tag "sales_reps_ids[]" ,sr.id , @meeting.sales_reps.include?(sr)
              = sr.name
              %br
          
          %hr

          .row       
            %h4 Assign Contacts:
            #loading_container.hide        
              =link_to image_tag("ajax-loader.gif")

            #checkboxes
                      
              -if @contacts.nil?
                %p Please Select a Client.
              -else
                - for c in @contacts
                  = check_box_tag "contact_ids[]", c.id, @meeting.contacts.include?(c)
                  = c.name
                  %br
            %button#addContact.btn{type: "button"} Add contact
            %br
            = render 'contact_fields'
                 
             
  
  = f.button :submit , class: "btn-success"
  =link_to 'Back', meetings_path
  %br

-if @followup_is_empty
  :javascript
    $(document).ready(function(){      
      var flupDiv     = $('.followups_div');
      var addFlupBtn  = $('#edit_addBtn');
      var addPlsBtn   = $('#addFollowup');

      flupDiv.hide();      
      addPlsBtn.hide();

      addFlupBtn.click(function(){
        flupDiv.slideDown(function(){
          addPlsBtn.show();
        });        
        $(this).hide();
      });
    });
