%p#notice= notice

%h1 Listing Meetings
     
= link_to 'New Meeting', new_meeting_path, {class:"btn btn-primary btn-lg pull-right"}

%br
  
- if @meetings.blank?
  %h2 There are no any meetings
- else
  %table.table.table-striped{cellpadding: "8"}
    %thead
      %tr
        %th Date
        %th Duration
        %th Memo
        %th Has followups
        %th Client Name
        %th Sales reps
        %th
        %th
    %tbody
      - for meeting in @meetings

        %tr
          %td= h meeting.start_date.to_s(:short)
          %td
            = h meeting.duration
            Minutes
          %td= h truncate(meeting.memo, length: 20)
          - if meeting.follow_ups.any?
            %td{align: "center"}
              %span.badge.badge-success= h "#{meeting.follow_ups.count}"
          - else
            %td{align: "center"} -
          %td= h meeting.client.name
          %td
            = h meeting.sales_reps.map(&:name).join(", ")
          %td= link_to 'Show/Edit', edit_meeting_path(meeting)
          %td= link_to 'Delete', meeting, method: :delete, data: { confirm: 'Are you sure?'}
