<p id="notice"><%= notice %></p>
<table cellpadding="8">
  <tr>
  	<th>Date</th>
  	<th>duration</th>
  	<th>Notes</th>
  </tr>
  <tr>
  	<td><%=h @meeting.start_date.to_s(:short) %>
    <td><%=h @meeting.duration %> Minutes</td>
    <td><%=h @meeting.memo %></td>
  </tr>
</table>


<%= link_to 'Edit', edit_meeting_path(@meeting) %>
|
<%= link_to 'Back', meetings_url %>
