%p#notice= notice
%table{cellpadding: "8"}
  %tr
    %th Date
    %th duration
    %th Notes
  %tr
    %td
      = h @meeting.start_date.to_s(:short)
    %td
      = h @meeting.duration
      Minutes
    %td= h @meeting.memo
%br/
%u
  %h4 This meeting is scheduled for:
= render 'client_row'

%br
  %u
    %h4 Sales represntators attending this meeting:
  = render 'sales_rep_row'

  %u
    %h4 Contacts attending this meeting:
= render 'contact_row'

= link_to 'Edit', edit_meeting_path(@meeting)
|
\#{link_to 'Back', meetings_url}