<h2 style="display:inline">{{model.name}}</h2>
<hr>
<form>
  <fieldset>
    <dl class="dl-horizontal">
      <dt>First Name:</dt>
      <dd>{{input value=firstName}}</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Last Name:</dt>
      <dd>{{input value=lastName}}</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Title:</dt>
      <dd>{{input value=title}}</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Phone num:</dt>
      <dd>{{input value=phoneNum}}</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Email:</dt>
      <dd>{{input value=email}}</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Sex:</dt>
      <dd>
        <div class="btn-group" role="group">
          <button type="button" {{bind-attr class=":btn :btn-default isSexUnkown:active"}} {{action 'setSex' 0}}>
            ?
          </button>
          <button type="button" {{bind-attr class=":btn :btn-default isSexMale:active"}} {{action 'setSex' 1}}>
            Male
          </button>
          <button type="button" {{bind-attr class=":btn :btn-default isSexFemale:active"}} {{action 'setSex' 2}}>
            Female
          </button>
        </div>
      </dd>
    </dl>    
  </fieldset>
  <fieldset class="actions">
    <button class="btn btn-default" {{action 'saveChanges'}}>Save Changes</button>
    <button class="btn btn-danger"  {{action 'cancel'}}>Cancel</button>
  </fieldset>  
</form>