<h2 style="display:inline">{{name}}</h2>
<h3 style="display:inline">{{link-to 'edit' 'sales-rep.edit' model }}</h3>
<hr>
<dl class="dl-horizontal">
  <dt>First Name:</dt>
  <dd>{{model.firstName}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Last Name:</dt>
  <dd>{{model.lastName}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd>{{model.title}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Phone num:</dt>
  <dd>{{model.phoneNum}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Email:</dt>
  <dd>{{model.email}}</dd>
</dl>