{{!-- TODO Clean up the styles Move them away --}}
<h2 style="display:inline">{{name}}</h2>
<h3 style="display:inline">{{link-to 'edit' 'client.edit' model }}</h3>
<hr>
<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd>{{model.name}}</dd>  
</dl> 

<dl class="dl-horizontal">
  <dt>Phone:</dt>
  <dd>{{model.phone}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>URL:</dt>
  <dd>{{model.url}}</dd>  
</dl>

<dl class="dl-horizontal">
  <dt>Status:</dt>
  <dd>{{view Ember.Select content=model.STATUSES value=model.status viewName="status"}}</dd>    
</dl>

<div class='row'>
  <div class="col-md-1">
  </div>

  <div class="col-md-3">
    {{#if isDirty }}
      <button class="btn btn-default" {{action 'saveChanges'}}>Save changes</button>
      unsaved changes
    {{/if}}

    {{#if isSaving }}
      Saving...
    {{/if}}
  </div>
  <hr>
  <button class="btn btn-danger pull-right" {{action 'delete'}}>Delete</button>
</div>

<h3 style="display:inline">Contacts</h3>
{{link-to 'Add' 'contacts.new' class="btn btn-success"}}
{{outlet}}
<ul>
  {{#each contact in contacts}}
    <li>  
      {{#link-to 'contact' contact.id}} 
        {{contact.name}}
      {{/link-to}}
    </li>
  {{else}}
    <p>There are no contacts for this client.</p> 
  {{/each}}
</ul>