<fieldset>
  <h3>Please fill in the new contact information:</h3>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :title %>
  <%= f.input :email %>
  <%= f.input :phone_num %>
  <%= f.input :position %>
  <%= f.input :sex, collection: (Contact::SEX) %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove Contact", '#', class: "remove_fields" %>
</fieldset>
