<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
  	<%= f.label :status%><br />
  	<%= f.select :status, Client::STATUS_TYPES  %>
  </div>
  <br />
  <h2> Client Contacts: </h2>
  <%= f.fields_for :contacts do |builder| %>
    <fieldset>
      <%= builder.label :first_name, "First Name" %> <br />
      <%= builder.text_field :first_name %> <br/>

      <%= builder.label :last_name, "Last Name" %> <br />
      <%= builder.text_field :last_name %> <br />

      <%= builder.label :title, "Title" %> <br />
      <%= builder.text_field :title %> <br />

      <%= builder.label :email, "Email" %> <br />
      <%= builder.text_field :email %> <br />

      <%= builder.label :phone_num, "Phone Number" %> <br />
      <%= builder.text_field :phone_num %> <br />

      <%= builder.label :position, "Position" %> <br />
      <%= builder.text_field :position %> <br />

      <%= builder.label :sex, "Sex" %> <br />
      <%= builder.text_field :sex %> <br />
    </fieldset>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
