<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.select :sex, Client::SEX, default: 1, :include_blank => true %>
  </div>
  <div class="field">
  	<%= f.label :status%><br />
  	<%= f.select :status, Client::STATUS_TYPES  %>
  </div>
  <br />
  <h2> Clients Contact Information: </h2>
  <%= f.fields_for :contacts do |builder| %>
    <fieldset>
      <%= builder.label :phone, "Phone num" %> <br />
      <%= builder.text_field :phone%> <br/>

      <%= builder.label :email, "Email Address" %> <br />
      <%= builder.text_field :email%> <br />

      <%= builder.label :address, "Address" %> <br />
      <%= builder.text_area :address, :rows => 3 %>
    </fieldset>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
