<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
  	<%= f.label :status%><br />
  	<%= f.select :status, Client::STATUS_TYPES  %>
  </div>

  <br />
  <h2> Client Contacts: </h2>
  <%= f.fields_for :contacts do |builder| %>
    <%= render 'contact_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Contact", f, :contacts %>

  <br />
  <h2> Meetings: </h2>
  <%= f.fields_for :meetings do |builder| %>
    <%= render 'meeting_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add meeting", f, :meetings %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
