<fieldset>

  <%= f.label :start_date, "Date" %><br/>
  <%= f.datetime_select :start_date %><br/>

  <%= f.label :duration, "Meeting Duration" %> <br />
  <%= f.text_field :duration %> <br />

  <%= f.label :memo, "Notes" %> <br />
  <%= f.text_area :memo, rows:"3" %> <br/>
  <br/>
  <% unless @contacts.blank? %>
  	<h3>Select contacts to attend this meeting:</h3>
    <% for contact in @contacts %>
      <%= check_box_tag "meeting[contact_ids][]", contact.id ,
       f.object.contacts.include?(contact) %>
      <%= contact.first_name%><br/>
    <% end %>
  <% end %>

  <% if SalesRep.all.any? %>
    <!-- render sales rep -->
  <% end %>

  <br/>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove Meeting", '#', class: "remove_fields" %>
</fieldset>

<!-- nested forms is illegal in html, after adding the form_tag that
	contains the checkboxes, the update button stopped working,
	and there are some minor issues with the js that adds the fields
	dynamically, this should be fixed, moved to doing other things -->