<p id="notice"><%= notice %></p>

<p>
  <b>Client name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Phone Number:</b>
  <%= @client.phone %>
</p>

<p>
  <b>URL:</b>
  <%= @client.url %>
</p>

<p>
  <b>Status:</b>
  <%= @client.status%>
</p>

</br>

<u><h3>Contacts info:</h3></u>

<% unless @client.contacts.blank? %>
<%= render 'contact_row' %>
<% end %>

<u><h3>Meetings:</h3></u>

<% unless @client.meetings.blank? %>
<%= render 'meeting_row' %>
<% end %>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
