<p id="notice"><%= notice %></p>

<p>
  <b>Client name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Phone Number:</b>
  <%= @client.phone %>
</p>

<p>
  <b>URL:</b>
  <%= @client.url %>
</p>

<p>
  <b>Status:</b>
  <%= @client.status%>
</p>

<ul>
<h3>Contact info:</h3>
<% for contact in @client.contacts %>
  <b>Phone:</b>
  <%=h contact.first_name %> <br />
  <br />
  <b>Email:</b>
  <%=h contact.last_name %> <br />
  <br />
  <b>Title:</b>
  <%=h contact.title %> <br />
  <br />
  <b>Email:</b>
  <%=h contact.email %> <br />
  <br />
  <b>Phone Number:</b>
  <%=h contact.phone_num %> <br />
  <br />
  <b>Position:</b>
  <%=h contact.position %> <br />
  <br />
  <b>Sex:</b>
  <%=h contact.sex %> <br />
  <br />
<% end %>
</ul>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
