<p id="notice"><%= notice %></p>

<p>
  <b>Client name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Phone Number:</b>
  <%= @client.phone %>
</p>

<p>
  <b>URL:</b>
  <%= @client.url %>
</p>

<p>
  <b>Status:</b>
  <%= @client.status%>
</p>

</br>

<u><h3>Contact info:</h3></u>

<table cellpadding="8">
  <tr>
  	<th>First Name</th>
  	<th>Last Name</th>
  	<th>Title</th>
  	<th>Email</th>
  	<th>Phone Number</th>
  	<th>Position</th>
  	<th>Sex</th>
  </tr>

<% for contact in @client.contacts %>
  <tr>
    <td><%=h contact.first_name %></td>
    <td><%=h contact.last_name %></td>
    <td><%=h contact.title %></td>
    <td><%=h contact.email %></td>
    <td><%=h contact.phone_num %></td>
    <td><%=h contact.position %></td>
    <td><%=h contact.sex %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
