<h2 style="display:inline">{{model.name}}</h2>
<hr>

<form>
  <fieldset>
    <dl class="dl-horizontal">
      <dt>Name:</dt>
      <dd>{{view Ember.TextField value=model.name}}</dd>      
    </dl>
    <dl class="dl-horizontal">
      <dt>Phone:</dt>
      <dd>{{view Ember.TextField value=model.phone}}</dd>      
    </dl>
    <dl class="dl-horizontal">
      <dt>URL:</dt>
      <dd>{{view Ember.TextField value=model.url}}</dd>      
    </dl>
  </fieldset>
  <fieldset class="actions">
    <button class="btn btn-default" {{action 'saveChanges'}} >Save Changes</button>
    <button class="btn btn-danger"  {{action 'cancel'}}>Cancel</button>
  </fieldset>
</form>