<h4>{{name}}</h4>
<h4>{{status}}</h4>  
{{view Ember.Select content=model.STATUSES value=model.status viewName="status"}}
<p>
  Phone:</br>
  {{view Ember.TextField value=phone }}
</p>
<p>
  URL:</br>
  {{view Ember.TextField value=url }}
</p>
<button class="btn btn-default" {{action 'saveChanges'}}>Save changes</button>

{{#if isDirty }}
  unsaved changes
{{/if}}

{{#if isSaving }}
  Saving...
{{/if}}
<h3>Contacts</h3>
{{#each contact in contacts}}
  <ul>
    <li> {{contact.name}} </li>
  </ul>
{{/each}}
