!!! html5
%html
  %head
    %title CrmSolution
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
    %nav.navbar.navbar-default.navbar-static-top{role: "navigation"}
      %ul.nav.nav-pills
        %li= link_to "Meetings",   meetings_url
        %li= link_to "Sales reps", sales_reps_url
        %li= link_to "Clients",    clients_url
  .container
    - flash.each do |name, msg|
      %div{ class: "alert alert-#{name == :notice ? "success" : "error"}" }
        %button.close{"data-dismiss" => "alert", type: "button"} ×
        = msg
    = yield